.main-screen {
    background-color: #eeeeee7a;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-screen span {
    font-weight: 900;
}